@model ServicosModel

@{
    ViewData["title"] = "Novo Serviço";
}


<div class="container d-flex justify-content-center align-items-center py-4">
    <div class="bg-dark text-white p-4 rounded">
        <h1 class="display-5 mb-4">Adicionar novo Serviço</h1>

        <form method="post" asp-controller="Servicos" asp-action="AdicionarRegisto" class="mt-2">
            <div class="mb-3">
                <label for="DataServico" class="form-label">Data do Serviço:</label>
                <input type="date" class="d-block form-control" asp-for="DataServico" id="DataServico" required value="@DateTime.Now.ToString("dd-MM-yyyy")>
                <span asp-validation-for="DataServico" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="TipoServico" class="form-label">Tipo de Serviço:</label>
                <input type="text" class="form-control" asp-for="TipoServico" id="TipoServico" required>
                <span asp-validation-for="TipoServico" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label for="DescricaoServico" class="form-label">Descrição do Serviço:</label>
                <input type="text" class="form-control" asp-for="DescricaoServico" id="DescricaoServico" required>
                <span asp-validation-for="DescricaoServico" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="CustoServico" class="form-label">Custo do Serviço:</label>
                <input type="text" class="form-control" asp-for="CustoServico" id="CustoServico" required>
                <span asp-validation-for="CustoServico" class="text-danger"></span>
            </div>
            <div class="mb-3">

                <input type="hidden" asp-for="AutomovelId" id="AutomovelId" value="@Model.AutomovelId">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-secondary" asp-controller="Automoveis" asp-action="Index">Voltar</a>
        </form>

        
    </div>
</div>