@{
    ViewData["Title"] = "Home Page";
}

<div class="hero text-center">
    <img src="/img/garagem.jpg" class="hero-image img-fluid">
    <div class="hero-overlay"></div>
    <div class="hero-content text-white">
        <div class="d-flex flex-column align-items-baseline justify-content-center h-100">
            <h1 style="font-size: 82px; margin: 30px, 0;">AutoGarage-Gest</h1>
            <p> </p>
            <p style="font-size: 36px;">Simplificando a Gestão da Sua Oficina</p>
            <p style="font-size: 36px;">Potencializando a Eficiência,</p>
            <p style="font-size: 46px; ">Maximizando os Resultados!</p>
        </div>
        
    </div>
</div>